$main-background: #ffffff;
$global-header-background: rgba(255, 255, 255, 0.6);
$global-footer-background: rgba(238, 238, 238, 0.3);
$global-selection-color: #9071e2;
$blue: #3d84f7;
$blue-hovered: #3d84f7cc;
$orange: #f1aa49;
$orange-hovered: #f1aa49cc;
$green: #6ccd67;
$grey: #ffffffcc;
$grey-2: #494949;
$grey-light: #ffffff99;
$grey-dark: #ffffffb2;
$dark: #201f1e;
$dark-2: #201f1ee5;
$dark-3: #201f1eb2;
$aqua: #00a5ff;
$purple: #b064ea;
$purple-2: #b064eab2;
$white: #ffffff;
$white-2: #f4f4f4;
$black: #000000;
