$main-background: #ffffff;
$global-header-background: rgba(255, 255, 255, 0.6);
$global-footer-background: rgba(238, 238, 238, 0.3);
$global-selection-color: #9071e2;
$blue: #3d84f7;
$blue-hovered: #3d84f7cc;
$orange: #f1aa49;
$orange-hovered: #f1aa49cc;
$green: #6ccd67;
$grey: #ffffffcc;
$grey-light: #ffffff99;
$dark: #201f1e;
$aqua: #00a5ff;
$purple: #b064ea;
