@import "colors";

$main-font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial",
  sans-serif;
$hover-duration: 0.2s;

.maxwh {
  width: 100%;
  height: 100%;
}

.max-h {
  height: 100%;
}

.max-w {
  width: 100%;
}

.w-a {
  width: auto;
}

.h-a {
  height: auto;
}

.ml-a {
  margin-left: auto;
}

.mt-a {
  margin-top: auto;
}

.t-center {
  text-align: center;
}

.rounded {
  border-radius: 2.0833333333333335vw;
}

.va-m {
  vertical-align: middle;
}

.emoji-image {
  width: 2.1875vw;
  height: 2.1875vw;
}

.c-button {
  width: 13.072916666666666vw;
  height: 4.0625vw;

  a {
    border-radius: 999px;
    border: 0.15625vw solid $grey-light;
    background-color: transparent;
    font-weight: 500;
    font-size: 1.3541666666666667vw;
    color: $white;
    transition: $hover-duration;

    &:hover {
      transform: scale(1.05);
      transition: $hover-duration;
      background-color: #201f1e99;
      color: $white;
      border: none;
    }

    &:active {
      transform: scale(0.99);
    }
  }
}
