<div class="content rounded">
  <div class="image">
    <img [src]="images.ilyaK.link" [alt]="images.ilyaK.description" />
  </div>
  <div class="text">
    <div class="title title-1"><p>About me</p></div>
    <div class="description description-1 line-text">
      <p>
        I live in Russia. In small town. <br />
        Learning and development!
      </p>
    </div>
    <div class="title title-2 mtdef"><p>Goals</p></div>
    <div class="description description-2 line-text">
      <p>
        Visit countries: Switzerland, Germany, <br />
        Czech Republic. Find the best place.
      </p>
    </div>
  </div>
</div>
