<div class="content rounded">
  <div class="left">
    <ul class="list list-1">
      <li class="item item-1">Buy macbook</li>
      <li class="item item-2">Make website</li>
      <li class="item item-3">Visit Europe</li>
      <li class="item item-4">Reached the middle in UI/UX</li>
      <li class="item item-5">Working with million youtube creator</li>
    </ul>
  </div>
  <div class="right">
    <ul class="list list-2">
      <li class="item item-1">Buy Iphone 14 Pro</li>
      <li class="item item-2">Buy parblo tablet</li>
      <li class="item item-3">Find video editor</li>
      <li class="item item-4">Using notion</li>
      <li class="item item-5">Join to designer's team</li>
    </ul>
  </div>
</div>
