<div class="project-list">
  <div class="title max-w flex flex-center">
    <p>Well, where are the examples of work?</p>
  </div>
  <div class="description max-w flex flex-center">
    <p>
      Projects will be updated
      <span class="va-m">
        <img
          class="emoji-image"
          src="assets/icons/eyes.webp"
          alt="eyes image"
          draggable="false"
        />
      </span>
    </p>
  </div>
  <div class="list flex">
    <div class="item rounded item-1 max-w flex">
      <div class="title">
        <p>Vodovoz.ru concept</p>
        <p class="title-desc">
          Made a full redesign for a water-delivery service
        </p>
      </div>
      <div class="images">
        <img
          class="image image-1"
          src="assets/images/cases/vodovoz/preview-1.webp"
          alt="vodovoz card image"
          draggable="false"
        />
        <img
          class="image image-2"
          src="assets/images/cases/vodovoz/preview-2.webp"
          alt="vodovoz card image"
          draggable="false"
        />
        <img
          class="image image-3"
          src="assets/images/cases/vodovoz/preview-3.webp"
          alt="vodovoz card image"
          draggable="false"
        />
        <img
          class="image image-4"
          src="assets/images/cases/vodovoz/preview-4.webp"
          alt="vodovoz card image"
          draggable="false"
        />
      </div>
      <div class="bottom flex flex-sp-bw mt-a">
        <div class="description">
          <p>
            Completely redesigned the concept. <br />
            Built a new ordering system and <br />
            updated the catalog
          </p>
        </div>
        <div class="button c-button">
          <a class="maxwh flex flex-center" href="">View case</a>
        </div>
      </div>
    </div>
    <div class="item rounded item-2 flex">
      <div class="title">
        <p>Gus Fring Digital art</p>
        <p class="title-desc">
          Made a photo-manipulation with hero of <br />
          the famous series “Breaking Bad”
          <br />
          <br />
          Spent time: 1 hour
        </p>
      </div>
      <div class="bottom flex flex-sp-bw mt-a">
        <div class="button c-button ml-a">
          <a
            class="maxwh flex flex-center"
            href="https://youtube.com/shorts/r3yWeTIbaAM?feature=share"
            target="_blank"
          >
            View video
          </a>
        </div>
      </div>
      <div class="images">
        <img
          class="image image-1"
          src="assets/images/digital-arts/gus-fring-1.webp"
          alt="digital art work preview image"
          draggable="false"
        />
        <img
          class="image image-2"
          src="assets/images/digital-arts/gus-fring-2.webp"
          alt="digital art work preview image"
          draggable="false"
        />
      </div>
    </div>
    <div class="item rounded item-3 flex">
      <div class="title">
        <p>Heizenberg Digital Art</p>
        <p class="title-desc">
          Made a photo-manipulation with hero of <br />
          the famous series “Breaking Bad”
          <br />
          <br />
          Spent time: 2 hour
        </p>
      </div>
      <div class="bottom flex flex-sp-bw mt-a">
        <div class="button c-button ml-a">
          <a
            class="maxwh flex flex-center"
            href="https://youtube.com/shorts/aFv6A1xDtSs?feature=share"
            target="_blank"
          >
            View video
          </a>
        </div>
      </div>
      <div class="images">
        <img
          class="image image-1"
          src="assets/images/digital-arts/i-won-1.webp"
          alt="digital art work preview image"
          draggable="false"
        />
        <img
          class="image image-2"
          src="assets/images/digital-arts/i-won-2.webp"
          alt="digital art work preview image"
          draggable="false"
        />
      </div>
    </div>
    <div class="item rounded item-4 max-w flex">
      <div class="title">
        <p>Silent Client for Minecraft</p>
        <p class="title-desc">
          Spent a few days and drew a landing page, <br />
          not without the help of the team
        </p>
      </div>
      <div class="bottom flex flex-sp-bw mt-a">
        <div class="description">
          <p>
            The team received an order and two of <br />
            them did it in the shortest possible time
          </p>
        </div>
        <div class="button c-button">
          <a class="maxwh flex flex-center">Commercial</a>
        </div>
      </div>
      <div class="images">
        <img
          class="image image-1 maxwh"
          src="assets/images/cases/silent-client/case-preview.webp"
          alt="silent client project preview image"
          draggable="false"
        />
        <img
          class="image image-2"
          src="assets/images/cases/silent-client/torch.webp"
          alt="torch image"
          draggable="false"
        />
      </div>
    </div>
    <div class="item rounded item-5 max-w flex">
      <div class="title">
        <p>Covers for YouTube</p>
        <p class="title-desc">Some of my work for YouTube</p>
      </div>
      <div class="bottom flex flex-sp-bw mt-a">
        <div class="description flex">
          <p class="mt-a">In my spare time I make covers for bloggers</p>
        </div>
        <div class="button c-button">
          <a class="maxwh flex flex-center" href="">View case</a>
        </div>
      </div>
      <div class="images">
        <img
          class="image image-1 maxwh"
          src="assets/images/covers/main-covers-bg.webp"
          alt="youtube cover works preview image"
          draggable="false"
        />
      </div>
    </div>
  </div>
</div>
