<div class="content rounded">
  <div class="title"><p>Special thanks for nabsv</p></div>
  <div class="description line-text">
    <p>
      Frontend-dev. Build frontend part <br />
      of this website.
    </p>
  </div>
  <div class="button rounded">
    <a href="https://nnabse.github.io" target="_blank"><p>View website</p></a>
  </div>
  <div class="images">
    <img
      class="image image-1"
      [src]="images.nabsvHi.link"
      [alt]="images.nabsvHi.description"
      draggable="false"
    />
    <img
      class="image image-2"
      [src]="images.nabsvWork.link"
      [alt]="images.nabsvWork.description"
      draggable="false"
    />
  </div>
</div>
