<div class="content rounded">
  <div class="title">
    <p>My projects</p>
    <div class="image">
      <img
        [src]="icons.sparkles.link"
        [alt]="icons.sparkles.description"
        draggable="false"
      />
    </div>
  </div>
  <div class="ui-ux-work mtdef">
    <div class="title"><p>Latest UI/UX work:</p></div>
    <div class="work mtdef">
      <div class="work-title">
        <p>Vodovoz.ru</p>
      </div>
      <div class="work-description">
        <p>Made a full redesign for a bottle service</p>
      </div>
      <div class="work-info">
        <p class="spent">Spent time</p>
        <div class="work-buttons">
          <div class="work-btn">
            <p>5hr</p>
          </div>
          <div class="work-btn work-link">
            <a href="">View case</a>
          </div>
        </div>
      </div>
      <div class="work-preview">
        <img
          class="project-preview-ui preview-1"
          [src]="images.vodovozMobile.link"
          [alt]="images.vodovozMobile.description"
          draggable="false"
        />
        <img
          class="project-preview-ui preview-2"
          [src]="images.vodovozDesktop.link"
          [alt]="images.vodovozDesktop.description"
          draggable="false"
        />
      </div>
    </div>
  </div>
  <div class="digital-art-work">
    <div class="title"><p>Latest digital work:</p></div>
    <div class="work mtdef">
      <div class="work-title">
        <p>Gus Fring Digital Art</p>
      </div>
      <div class="work-description">
        <p>
          Made a photo-manipulation with hero of <br />
          the famous series “Breaking Bad”
        </p>
      </div>
      <div class="work-info">
        <p class="spent">Spent time</p>
        <div class="work-buttons">
          <div class="work-btn">
            <p>1hr</p>
          </div>
          <div class="work-btn work-link">
            <a
              href="https://youtube.com/shorts/r3yWeTIbaAM?feature=share"
              target="_blank"
            >
              View video
            </a>
          </div>
        </div>
      </div>
      <div class="work-preview">
        <img
          class="digital-art-preview preview-1"
          [src]="images.gustavoFringOrange.link"
          [alt]="images.gustavoFringOrange.link"
          draggable="false"
        />
        <img
          class="digital-art-preview preview-2"
          [src]="images.gustavoFringPink.link"
          [alt]="images.gustavoFringPink.link"
          draggable="false"
        />
        <img
          class="digital-art-preview preview-3"
          [src]="images.gustavoFringGreen.link"
          [alt]="images.gustavoFringGreen.link"
          draggable="false"
        />
        <img
          class="digital-art-preview preview-4"
          [src]="images.gustavoFringPurple.link"
          [alt]="images.gustavoFringPurple.link"
          draggable="false"
        />
        <img
          class="digital-art-preview preview-5"
          [src]="images.gustavoFringRed.link"
          [alt]="images.gustavoFringRed.link"
          draggable="false"
        />
      </div>
    </div>
  </div>
  <div class="all-projects rounded mtdef">
    <div class="wrapper">
      <a href="">All projects</a>
    </div>
  </div>
</div>
