@import "variables";

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5625vw;

  .block {
    width: 22.265625vw;
    height: 20.703125vw;
  }

  .name,
  .what-i-do {
    width: 46.09375vw;
  }

  .name {
    background-color: $blue;
  }

  .achievements {
    background-color: $light-blue;
  }

  .work {
    background-color: $green;
  }

  .projects {
    background-color: $yellow;
  }

  .youtube {
    background-color: $red;
  }

  .what-i-do {
    background-color: $purple;
  }
}
