@import "flex";
@import "colors";
@import "variables";

.header {
  z-index: 100;
  position: fixed;
  height: 4.166666666666667vw;
  padding: 1.0416666666666667vw 3.6458333333333335vw;
  align-items: center;
  background: $global-header-background;

  .element {
    font-weight: 500;
    font-size: 1.3541666666666667vw;

    &,
    &:hover {
      transition: $hover-duration;
      -webkit-transition: $hover-duration;
    }
  }

  .home-btn {
    color: $blue !important;

    img {
      width: 1.1979166666666667vw;
      margin-right: 0.625vw;
    }
  }

  .element {
    color: $grey-2;
  }

  .element-1:hover,
  .element-2:hover {
    color: $blue;
  }

  .element-2 {
    margin-left: 2.0833333333333335vw;
  }

  .element-3:hover {
    color: $orange;
  }
}
