<div class="header max-w flex">
  <a
    *ngIf="!showHomeButton"
    class="element element-1"
    [href]="mediaLink.MAILTO"
  >
    hav3n.psd@icloud.com
  </a>
  <a
    *ngIf="!showHomeButton"
    class="element element-2"
    [href]="mediaLink.YT_CHANNEL"
    target="_blank"
  >
    YouTube
  </a>
  <a
    *ngIf="showHomeButton"
    class="element home-btn flex flex-center"
    [routerLink]="page.MAIN"
  >
    <img
      src="assets/icons/home-arrow.svg"
      alt="back arrow image"
      draggable="false"
    />
    Back to Home
  </a>
  <a class="element element-3 ml-a" [href]="mediaLink.TELEGRAM" target="_blank">
    Contact me
  </a>
</div>
