<div class="content rounded">
  <div class="title">
    <p>Follow me on YouTube</p>
    <div class="image">
      <img
        [src]="icons.youtube.link"
        [alt]="icons.youtube.description"
        draggable="false"
      />
    </div>
  </div>
  <div class="description">
    <p>
      On my channel there are speedarts, <br />
      short videos about digital design
      <img
        [src]="icons.sparkles.link"
        [alt]="icons.sparkles.description"
        draggable="false"
      />
    </p>
  </div>
  <div class="btn mtdef">
    <a
      href="https://youtube.com/shorts/r3yWeTIbaAM?feature=share"
      target="_blank"
    >
      <p>View last video</p>
    </a>
  </div>
  <div class="images"></div>
</div>
