<div class="about-me flex flex-col">
  <div class="block rounded block-1 max-w flex flex-col">
    <div class="block-title">
      <p class="text">
        Hey! I’m hav3n <br />
        Designer and digital artist
        <span>
          from Russia. <br />
          UI/UX, web-design, digital art and <br />
          web-development.
        </span>
      </p>
    </div>
    <div class="block-description mt-a">
      <p class="text">
        I understand your needs and create a design <br />
        that will not leave you in different!
        <span class="va-m">
          <img
            class="emoji-image"
            src="assets/icons/smiling-face-with-halo.webp"
            alt="smiling face with halo image"
            draggable="false"
          />
        </span>
      </p>
    </div>
  </div>
  <div class="block rounded block-2 max-w flex">
    <div class="block-title">
      <p class="text">
        I’ve been studying graphic design <br />
        for five years now. Recently I started <br />
        a passion and interest in UI/UX. <br />
        I mostly do video covers, interface <br />
        and website design.
      </p>
    </div>
    <div class="block-images">
      <img
        class="image image-1 emoji"
        src="assets/icons/green-heart.webp"
        alt="green heart image"
        draggable="false"
      />
      <img
        class="image image-2 emoji"
        src="assets/icons/yellow-heart.webp"
        alt="yellow heart image"
        draggable="false"
      />
      <img
        class="image image-3"
        src="assets/images/memojis/memoji.webp"
        alt="memoji image"
        draggable="false"
      />
      <img
        class="image image-4 emoji"
        src="assets/icons/red-heart.webp"
        alt="red heart image"
        draggable="false"
      />
      <img
        class="image image-5 emoji"
        src="assets/icons/orange-heart.webp"
        alt="orange heart image"
        draggable="false"
      />
    </div>
  </div>
  <div class="block rounded block-3 flex">
    <div class="left max-w flex">
      <div class="block-title max-w">
        <p class="text">
          Now I’m working in razoom.art <br />
          design studio on part-time
        </p>
      </div>
      <div class="block-description mt-a max-w">
        <p class="text">
          We gathered in 2021, to open a next-gen <br />
          digital studio and create fascinating <br />
          products, which will make you love them
          <span class="va-m">
            <img
              class="emoji-image"
              src="assets/icons/sparkles.webp"
              alt="sparkles image"
              draggable="false"
            />
          </span>
        </p>
      </div>
    </div>
    <div class="right max-h">
      <div class="block-images max-h">
        <img
          class="image image-1"
          src="assets/images/memojis/memoji-1.webp"
          alt="memoji image"
          draggable="false"
        />
        <img
          class="image image-2"
          src="assets/images/memojis/memoji-2.webp"
          alt="memoji image"
          draggable="false"
        />
        <img
          class="image image-3"
          src="assets/images/memojis/memoji-3.webp"
          alt="memoji image"
          draggable="false"
        />
        <img
          class="image image-4"
          src="assets/images/memojis/memoji-4.webp"
          alt="memoji image"
          draggable="false"
        />
      </div>
    </div>
  </div>
</div>
