<div class="about-me flex flex-col">
  <div class="block rounded block-1 max-w flex flex-col">
    <div class="block-title">
      <p class="text">
        Hey! I’m hav3n <br />
        Designer and digital artist
        <span>
          from Russia. <br />
          UI/UX, web-design, digital art and <br />
          web-development.
        </span>
      </p>
    </div>
    <div class="block-description mt-a">
      <p class="text">
        I understand your needs and create a design <br />
        that will not leave you in different! 😇
      </p>
    </div>
  </div>
  <div class="block rounded block-2 max-w flex-col">
    <div class="block-title">
      <p class="text">
        I’ve been studying graphic design <br />
        for five years now. Recently I started <br />
        a passion and interest in UI/UX. <br />
        I mostly do video covers, interface <br />
        and website design.
      </p>
    </div>
  </div>
  <div class="block rounded block-3 max-w flex flex-col">
    <div class="block-title">
      <p class="text">
        Now I’m working in razoom.art <br />
        design studio on part-time
      </p>
    </div>
    <div class="block-description mt-a">
      <p class="text">
        We gathered in 2021, to open a next-gen <br />
        digital studio and create fascinating <br />
        products, which will make you love them ✨
      </p>
    </div>
  </div>
</div>
