<div class="main">
  <div class="about-me">
    <main-about-me></main-about-me>
  </div>
  <div class="project-list">
    <main-project-list></main-project-list>
  </div>
  <div class="specially-thanks">
    <div class="section-title t-center max-w">
      <p>
        And specially thanks for
        <a href="https://t.me/nabse" target="_blank">nabsv</a>
      </p>
    </div>
    <div class="section-description t-center max-w">
      <p>
        <span>Frontend-dev.</span>&nbsp;Build frontend part <br />
        of this website.
      </p>
    </div>
  </div>
  <div class="footer">
    <global-footer></global-footer>
  </div>
</div>
