<div class="content">
  <div class="intro">
    <app-intro></app-intro>
  </div>
  <div class="name mtdef">
    <app-name></app-name>
  </div>
  <div id="achievements"></div>
  <div id="work"></div>
  <div class="achievements mtdef">
    <app-achievements></app-achievements>
  </div>
  <div class="work mtdef">
    <app-work></app-work>
  </div>
  <div id="projects"></div>
  <div class="projects mtdef">
    <app-projects></app-projects>
  </div>
  <div class="youtube mtdef">
    <app-youtube></app-youtube>
  </div>
  <div class="special mtdef">
    <app-special></app-special>
  </div>
</div>
