@import "fonts";
@import "variables";
@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: $main-background;
  font-family: $main-font-family;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

::selection {
  background: $global-selection-color;
  color: $main-background;
}
