<div class="footer max-w rounded flex flex-col">
  <div class="title"><p>contacts:</p></div>
  <div class="contact-list flex">
    <div class="item item-1"><a href="">hav3n.psd@icloud.com</a></div>
    <div class="item item-2 ml-a">
      <a href="">Subscribe on <span>img</span> YouTube</a>
    </div>
    <div class="item item-3">
      <a href="">Telegram </a>
      <span>@hav3n.psd</span>
    </div>
  </div>
  <div class="bottom mt-a">
    <div class="list max-w flex flex-sp-bw">
      <div class="item item-1"><p>razoom.art &lt;3</p></div>
      <div class="item item-2"><p>have a nice day :3</p></div>
    </div>
  </div>
</div>
